html, body, .root, .app {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
}

main {
    display: flex;
}

.cv-form {
    max-width: 600px;
}

footer {
    text-align: center;
    height: 50px;
}
