html, body, .root, .app {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.cv-form {
    max-width: 600px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.form-item label {
    margin: 5px;
}

.form-item button {
    width: 100%;
}

footer {
    text-align: center;
    height: 50px;
}
